In [1]:
import numpy as np 
import pandas as pd
import os

In [2]:
data_path = os.path.join(os.pardir, 'data')

In [3]:
# State Data Reading
state_data_file_path = os.path.join(data_path, 'statecleaneddata.xlsx')

state_df = pd.read_excel(state_data_file_path)

# BAsic preprocessing 
state_df.District = state_df.District.apply(lambda x: x.replace("\n",""))
state_df.District = state_df.District.apply(lambda x: x.lower())
state_df.District = state_df.District.apply(lambda x: "malda" if x=="maldah" else x)

In [4]:
# Soil Data Reading
soil_data_file_path = os.path.join(data_path, "soil_type.csv")

soil_df = pd.read_csv(soil_data_file_path)

In [5]:
# weather Data Reading
weather_data_file_path = os.path.join(data_path, "weather_data_name_formated_final.csv")

weather_df = pd.read_csv(weather_data_file_path)

#BAsic preprocessing 
weather_df.district = weather_df.district.apply(lambda x: x.lower())

In [6]:
state_df.District.unique() , len(state_df.District.unique())

(array(['24 paraganas north', '24 paraganas south', 'bankura', 'birbhum',
        'coochbehar', 'darjeeling', 'dinajpur dakshin', 'dinajpur uttar',
        'hooghly', 'howrah', 'jalpaiguri', 'malda', 'medinipur east',
        'medinipur west', 'murshidabad', 'nadia', 'purba bardhaman',
        'purulia', 'alipurduar', 'jhargram', 'kalimpong',
        'paschim bardhaman'], dtype=object),
 22)

In [7]:
weather_df.district.unique(), len(weather_df.district.unique())

(array(['alipurduar', 'bankura', 'birbhum', 'coochbehar',
        'dinajpur dakshin', 'darjeeling', 'howrah', 'hooghly',
        'jalpaiguri', 'jhargram', 'kolkata', 'kalimpong', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar'], dtype=object),
 23)

In [8]:
soil_df.Dist_Name.unique() , len(soil_df.Dist_Name.unique())

(array(['24 Parganas', 'Nadia', 'Murshidabad', 'Bardhaman', 'Birbhum',
        'Bankura', 'Hooghly', 'Howrah', 'Jalpaiguri', 'Darjeeling',
        'Malda', 'coochbehar', 'Purulia', 'Medinipur', 'Kolkata',
        'Dinajpur'], dtype=object),
 16)

In [9]:
c= 0
for i in list(weather_df.district.unique()):
    if i not in list(state_df.District.unique()):
        print(i)

kolkata



### not in soil 'alipurduar', 'jhargram', 'kalimpong' and "kolkata" in soil and weather but not in state wise table

In [10]:
n = soil_df.loc[0]
n['Dist_Name'] = "24 paraganas north"
m = n.copy()
m["Dist_Name"] = "24 paraganas south"
# print(m, n)
test_soil = pd.concat([soil_df, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)
test_soil.Dist_Name = test_soil.Dist_Name.apply(lambda x: x.lower())

C:\Users\mynam\AppData\Local\Temp\ipykernel_6304\292709067.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n['Dist_Name'] = "24 paraganas north"

In [11]:
m = test_soil .loc[15]
m["Dist_Name"] = "dinajpur dakshin"
n = m.copy()
n["Dist_Name"] = "dinajpur uttar"
test_soil = pd.concat([test_soil, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)

C:\Users\mynam\AppData\Local\Temp\ipykernel_6304\1832651935.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["Dist_Name"] = "dinajpur dakshin"

In [12]:
m = test_soil.loc[13]
m["Dist_Name"] = "medinipur west"
n = m.copy()
n["Dist_Name"] = "medinipur east"
test_soil = pd.concat([test_soil, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)

C:\Users\mynam\AppData\Local\Temp\ipykernel_6304\790790057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["Dist_Name"] = "medinipur west"

In [13]:
n = test_soil.loc[3]
n["Dist_Name"] = "paschim bardhaman"
m = n.copy()
m["Dist_Name"] = "purba bardhaman"
test_soil = pd.concat([test_soil, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)

C:\Users\mynam\AppData\Local\Temp\ipykernel_6304\4112519807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n["Dist_Name"] = "paschim bardhaman"

In [14]:
# Soil Final df
soil_f_df = test_soil.drop([3,13,15,0,14]).reset_index().drop(columns=["index"])

In [15]:
soil_f_df.Dist_Name.unique() , len(soil_f_df.Dist_Name.unique())

(array(['nadia', 'murshidabad', 'birbhum', 'bankura', 'hooghly', 'howrah',
        'jalpaiguri', 'darjeeling', 'malda', 'coochbehar', 'purulia',
        '24 paraganas north', '24 paraganas south', 'dinajpur uttar',
        'dinajpur dakshin', 'medinipur east', 'medinipur west',
        'paschim bardhaman', 'purba bardhaman'], dtype=object),
 19)

In [16]:
l = ['alipurduar', 'bankura', 'birbhum', 'coochbehar',
        'dinajpur dakshin', 'darjeeling', 'howrah', 'hooghly',
        'jalpaiguri', 'jhargram', 'kolkata', 'kalimpong', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar']
for i in l:
    if i not in soil_f_df.Dist_Name.unique():
        print(i)

alipurduar
jhargram
kolkata
kalimpong

In [17]:
# State Final Df
notreq = ['alipurduar', 'jhargram', 'kalimpong', "kolkata"]
state_df_f = state_df[(state_df.District!="alipurduar") & (state_df.District!="jhargram") & (state_df.District!="kalimpong")]

In [18]:
#state_df.shape[0] - state_df[(state_df.District=="alipurduar")].shape[0] - state_df[(state_df.District=="jhargram")].shape[0] - state_df[(state_df.District=="kalimpong")].shape[0]

In [19]:
state_df_f.District.unique(), len(state_df_f.District.unique())

(array(['24 paraganas north', '24 paraganas south', 'bankura', 'birbhum',
        'coochbehar', 'darjeeling', 'dinajpur dakshin', 'dinajpur uttar',
        'hooghly', 'howrah', 'jalpaiguri', 'malda', 'medinipur east',
        'medinipur west', 'murshidabad', 'nadia', 'purba bardhaman',
        'purulia', 'paschim bardhaman'], dtype=object),
 19)

In [20]:
# weather Final df
weather_df_f = weather_df[(weather_df.district!="alipurduar") & (weather_df.district!="jhargram") & (weather_df.district!="kalimpong") & (weather_df.district!="kolkata")]

In [21]:
weather_df_f.district.unique(), len(weather_df_f.district.unique())

(array(['bankura', 'birbhum', 'coochbehar', 'dinajpur dakshin',
        'darjeeling', 'howrah', 'hooghly', 'jalpaiguri', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar'], dtype=object),
 19)

In [22]:
soil_f_df.Dist_Name.unique() , len(soil_f_df.Dist_Name.unique())

(array(['nadia', 'murshidabad', 'birbhum', 'bankura', 'hooghly', 'howrah',
        'jalpaiguri', 'darjeeling', 'malda', 'coochbehar', 'purulia',
        '24 paraganas north', '24 paraganas south', 'dinajpur uttar',
        'dinajpur dakshin', 'medinipur east', 'medinipur west',
        'paschim bardhaman', 'purba bardhaman'], dtype=object),
 19)

In [23]:
soil_f_df.to_csv(os.path.join(data_path,"Cleaned Data/soil_final.csv"), index=False)
weather_df_f.to_csv(os.path.join(data_path,"Cleaned Data/weather_final.csv"), index=False)
state_df_f.to_csv(os.path.join(data_path,"Cleaned Data/state_final.csv"), index=False)

### More cleaning

In [24]:
data_path = os.path.join(os.pardir, 'data')

In [25]:
weather_path = os.path.join(data_path, "Cleaned Data/weather_final.csv")
state_path = os.path.join(data_path, "Cleaned Data/state_final.csv")
soil_path = os.path.join(data_path, "Cleaned Data/soil_final.csv")

In [26]:
weather_df = pd.read_csv(weather_path)
soil_df = pd.read_csv(soil_path)
state_df = pd.read_csv(state_path)

In [27]:
weather_df.head()

,MyUnknownColumn,year,mean_temperature_2m_max (Â°C)_quarter1,mean_temperature_2m_max (Â°C)_quarter2,mean_temperature_2m_max (Â°C)_quarter3,mean_temperature_2m_max (Â°C)_quarter4,mean_temperature_2m_min (Â°C)_quarter1,mean_temperature_2m_min (Â°C)_quarter2,mean_temperature_2m_min (Â°C)_quarter3,mean_temperature_2m_min (Â°C)_quarter4,...,mean_relative_humidity_2m (%)_quarter4,mean_soil_temperature_0_to_7cm (Â°C)_quarter1,mean_soil_temperature_0_to_7cm (Â°C)_quarter2,mean_soil_temperature_0_to_7cm (Â°C)_quarter3,mean_soil_temperature_0_to_7cm (Â°C)_quarter4,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4,district
0,26,1997,27.692222,35.532967,30.806522,26.753261,14.720000,24.739560,25.019565,17.669565,...,74.187047,22.796667,31.159936,28.240806,23.325996,0.164023,0.244372,0.406305,0.228455,bankura
1,27,1998,26.311111,35.886813,31.044565,27.726087,14.845556,26.016484,25.446739,18.366304,...,75.163949,21.731343,31.921154,28.591757,23.504212,0.203876,0.231366,0.385119,0.262968,bankura
2,28,1999,29.563333,35.451648,30.559783,27.706522,15.500000,25.739560,24.854348,17.365217,...,69.871830,24.405278,32.262683,28.069384,23.421467,0.128999,0.253662,0.401690,0.217343,bankura
3,29,2000,27.580220,35.308791,30.818478,27.865217,14.937363,25.737363,24.939130,16.744565,...,69.249547,22.872665,31.832875,28.257428,22.977899,0.165985,0.255802,0.378654,0.209894,bankura
4,30,2001,28.521111,33.765934,30.711957,27.615217,14.386667,24.603297,24.946739,17.841304,...,73.384964,23.378426,30.137408,28.083605,23.487908,0.133446,0.295354,0.393462,0.230607,bankura

In [28]:
weather_df.drop(columns=['MyUnknownColumn'],inplace=True)

In [29]:
state_df.tail()

,District,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare),Crop,State
12318,purulia,2015-16,Rabi,855.0,1241.0,1.451462,Wheat,West Bengal
12319,purulia,2016-17,Rabi,1366.0,2415.0,1.767936,Wheat,West Bengal
12320,purulia,2017-18,Rabi,1052.0,2145.0,2.038973,Wheat,West Bengal
12321,purulia,2018-19,Rabi,833.0,2114.0,2.537815,Wheat,West Bengal
12322,purulia,2019-20,Rabi,516.0,931.0,1.804264,Wheat,West Bengal

In [30]:
state_df.Year = state_df.Year.apply(lambda x: x.split("-")[0])

In [31]:
state_df.rename(columns={"District":'district', 'Year':'year'},inplace=True)

In [32]:
weather_df.columns

Index(['year', 'mean_temperature_2m_max (Â°C)_quarter1',
       'mean_temperature_2m_max (Â°C)_quarter2',
       'mean_temperature_2m_max (Â°C)_quarter3',
       'mean_temperature_2m_max (Â°C)_quarter4',
       'mean_temperature_2m_min (Â°C)_quarter1',
       'mean_temperature_2m_min (Â°C)_quarter2',
       'mean_temperature_2m_min (Â°C)_quarter3',
       'mean_temperature_2m_min (Â°C)_quarter4',
       'mean_temperature_2m_mean (Â°C)_quarter1',
       'mean_temperature_2m_mean (Â°C)_quarter2',
       'mean_temperature_2m_mean (Â°C)_quarter3',
       'mean_temperature_2m_mean (Â°C)_quarter4',
       'mean_rain_sum (mm)_quarter1', 'mean_rain_sum (mm)_quarter2',
       'mean_rain_sum (mm)_quarter3', 'mean_rain_sum (mm)_quarter4',
       'mean_wind_speed_10m_max (km/h)_quarter1',
       'mean_wind_speed_10m_max (km/h)_quarter2',
       'mean_wind_speed_10m_max (km/h)_quarter3',
       'mean_wind_speed_10m_max (km/h)_quarter4',
       'mean_relative_humidity_2m (%)_quarter1',
       'mean_relative_humidity_2m (%)_quarter2',
       'mean_relative_humidity_2m (%)_quarter3',
       'mean_relative_humidity_2m (%)_quarter4',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter1',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter2',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter3',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter4',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4', 'district'],
      dtype='object')

In [39]:
state_df.Season = state_df.Season.apply(lambda x: x.strip())

In [45]:
state_df.Crop = state_df.Crop.apply(lambda x:  "Oilseeds" if x=="Oilseeds total" else x)

In [46]:
soil_df.to_csv(os.path.join(data_path,"Cleaned Data/soil_final.csv"), index=False)
weather_df.to_csv(os.path.join(data_path,"Cleaned Data/weather_final.csv"), index=False)
state_df.to_csv(os.path.join(data_path,"Cleaned Data/state_final.csv"), index=False)