In [1]:
import numpy as np 
import pandas as pd
import os

In [2]:
data_path = os.path.join(os.pardir, 'data')

In [3]:
# State Data Reading
state_data_file_path = os.path.join(data_path, 'statecleaneddata.xlsx')

state_df = pd.read_excel(state_data_file_path)

# BAsic preprocessing 
state_df.District = state_df.District.apply(lambda x: x.replace("\n",""))
state_df.District = state_df.District.apply(lambda x: x.lower())
state_df.District = state_df.District.apply(lambda x: "malda" if x=="maldah" else x)

In [4]:
# Soil Data Reading
soil_data_file_path = os.path.join(data_path, "soil_type.csv")

soil_df = pd.read_csv(soil_data_file_path)

In [5]:
# weather Data Reading
weather_data_file_path = os.path.join(data_path, "weather_data_name_formated_final.csv")

weather_df = pd.read_csv(weather_data_file_path)

#BAsic preprocessing 
weather_df.district = weather_df.district.apply(lambda x: x.lower())

In [6]:
state_df.District.unique() , len(state_df.District.unique())

(array(['24 paraganas north', '24 paraganas south', 'bankura', 'birbhum',
        'coochbehar', 'darjeeling', 'dinajpur dakshin', 'dinajpur uttar',
        'hooghly', 'howrah', 'jalpaiguri', 'malda', 'medinipur east',
        'medinipur west', 'murshidabad', 'nadia', 'purba bardhaman',
        'purulia', 'alipurduar', 'jhargram', 'kalimpong',
        'paschim bardhaman'], dtype=object),
 22)

In [7]:
weather_df.district.unique(), len(weather_df.district.unique())

(array(['alipurduar', 'bankura', 'birbhum', 'coochbehar',
        'dinajpur dakshin', 'darjeeling', 'howrah', 'hooghly',
        'jalpaiguri', 'jhargram', 'kolkata', 'kalimpong', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar'], dtype=object),
 23)

In [8]:
soil_df.Dist_Name.unique() , len(soil_df.Dist_Name.unique())

(array(['24 Parganas', 'Nadia', 'Murshidabad', 'Bardhaman', 'Birbhum',
        'Bankura', 'Hooghly', 'Howrah', 'Jalpaiguri', 'Darjeeling',
        'Malda', 'coochbehar', 'Purulia', 'Medinipur', 'Kolkata',
        'Dinajpur'], dtype=object),
 16)

In [9]:
state_df[state_df.District == "kolkata"].shape

(0, 8)

In [10]:
c= 0
for i in list(weather_df.district.unique()):
    if i not in list(state_df.District.unique()):
        print(i)

kolkata



### not in soil 'alipurduar', 'jhargram', 'kalimpong' and "kolkata" in soil and weather but not in state wise table

In [11]:
n = soil_df.loc[0]
n['Dist_Name'] = "24 paraganas north"
m = n.copy()
m["Dist_Name"] = "24 paraganas south"
# print(m, n)
test_soil = pd.concat([soil_df, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)
test_soil.Dist_Name = test_soil.Dist_Name.apply(lambda x: x.lower())

C:\Users\Jit Nandi\AppData\Local\Temp\ipykernel_8700\292709067.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n['Dist_Name'] = "24 paraganas north"

In [12]:
m = test_soil .loc[15]
m["Dist_Name"] = "dinajpur dakshin"
n = m.copy()
n["Dist_Name"] = "dinajpur uttar"
test_soil = pd.concat([test_soil, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)

C:\Users\Jit Nandi\AppData\Local\Temp\ipykernel_8700\1832651935.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["Dist_Name"] = "dinajpur dakshin"

In [13]:
m = test_soil.loc[13]
m["Dist_Name"] = "medinipur west"
n = m.copy()
n["Dist_Name"] = "medinipur east"
test_soil = pd.concat([test_soil, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)

C:\Users\Jit Nandi\AppData\Local\Temp\ipykernel_8700\790790057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m["Dist_Name"] = "medinipur west"

In [14]:
n = test_soil.loc[3]
n["Dist_Name"] = "paschim bardhaman"
m = n.copy()
m["Dist_Name"] = "purba bardhaman"
test_soil = pd.concat([test_soil, pd.DataFrame([n])], ignore_index=True)
test_soil = pd.concat([test_soil, pd.DataFrame([m])], ignore_index=True)

C:\Users\Jit Nandi\AppData\Local\Temp\ipykernel_8700\4112519807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n["Dist_Name"] = "paschim bardhaman"

In [15]:
# Soil Final df
soil_f_df = test_soil.drop([3,13,15,0,14]).reset_index().drop(columns=["index"])

In [16]:
soil_f_df.Dist_Name.unique() , len(soil_f_df.Dist_Name.unique())

(array(['nadia', 'murshidabad', 'birbhum', 'bankura', 'hooghly', 'howrah',
        'jalpaiguri', 'darjeeling', 'malda', 'coochbehar', 'purulia',
        '24 paraganas north', '24 paraganas south', 'dinajpur uttar',
        'dinajpur dakshin', 'medinipur east', 'medinipur west',
        'paschim bardhaman', 'purba bardhaman'], dtype=object),
 19)

In [17]:
l = ['alipurduar', 'bankura', 'birbhum', 'coochbehar',
        'dinajpur dakshin', 'darjeeling', 'howrah', 'hooghly',
        'jalpaiguri', 'jhargram', 'kolkata', 'kalimpong', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar']
for i in l:
    if i not in soil_f_df.Dist_Name.unique():
        print(i)

alipurduar
jhargram
kolkata
kalimpong

In [18]:
# State Final Df
notreq = ['alipurduar', 'jhargram', 'kalimpong', "kolkata"]
state_df_f = state_df[(state_df.District!="alipurduar") & (state_df.District!="jhargram") & (state_df.District!="kalimpong")]

In [19]:
#state_df.shape[0] - state_df[(state_df.District=="alipurduar")].shape[0] - state_df[(state_df.District=="jhargram")].shape[0] - state_df[(state_df.District=="kalimpong")].shape[0]

In [20]:
state_df_f.District.unique(), len(state_df_f.District.unique())

(array(['24 paraganas north', '24 paraganas south', 'bankura', 'birbhum',
        'coochbehar', 'darjeeling', 'dinajpur dakshin', 'dinajpur uttar',
        'hooghly', 'howrah', 'jalpaiguri', 'malda', 'medinipur east',
        'medinipur west', 'murshidabad', 'nadia', 'purba bardhaman',
        'purulia', 'paschim bardhaman'], dtype=object),
 19)

In [21]:
# weather Final df
weather_df_f = weather_df[(weather_df.district!="alipurduar") & (weather_df.district!="jhargram") & (weather_df.district!="kalimpong") & (weather_df.district!="kolkata")]

In [22]:
weather_df_f.district.unique(), len(weather_df_f.district.unique())

(array(['bankura', 'birbhum', 'coochbehar', 'dinajpur dakshin',
        'darjeeling', 'howrah', 'hooghly', 'jalpaiguri', 'malda',
        'murshidabad', 'nadia', '24 paraganas north', 'paschim bardhaman',
        'medinipur west', 'purba bardhaman', 'medinipur east', 'purulia',
        '24 paraganas south', 'dinajpur uttar'], dtype=object),
 19)

In [23]:
soil_f_df.Dist_Name.unique() , len(soil_f_df.Dist_Name.unique())

(array(['nadia', 'murshidabad', 'birbhum', 'bankura', 'hooghly', 'howrah',
        'jalpaiguri', 'darjeeling', 'malda', 'coochbehar', 'purulia',
        '24 paraganas north', '24 paraganas south', 'dinajpur uttar',
        'dinajpur dakshin', 'medinipur east', 'medinipur west',
        'paschim bardhaman', 'purba bardhaman'], dtype=object),
 19)

In [24]:
state_df_f.Year = state_df_f.Year.apply(lambda x: x.split("-")[0])

C:\Users\Jit Nandi\AppData\Local\Temp\ipykernel_8700\995662193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df_f.Year = state_df_f.Year.apply(lambda x: x.split("-")[0])

In [25]:
state_df_f.Year = state_df_f.Year.astype(np.int64)

C:\Users\Jit Nandi\AppData\Local\Temp\ipykernel_8700\1310288294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_df_f.Year = state_df_f.Year.astype(np.int64)

In [26]:
state_df_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12323 entries, 0 to 12595
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   District                12323 non-null  object
 1   Year                    12323 non-null  int64
 2   Season                  12323 non-null  object
 3   Area (Hectare)          12323 non-null  float64
 4   Production (Tonnes)     12307 non-null  float64
 5   Yield (Tonnes/Hectare)  12323 non-null  float64
 6   Crop                    12323 non-null  object
 7   State                   12323 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 866.5+ KB

In [27]:
weather_df_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 26 to 597
Data columns (total 35 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   MyUnknownColumn                                 494 non-null    int64
 1   year                                            494 non-null    int64
 2   mean_temperature_2m_max (Â°C)_quarter1          494 non-null    float64
 3   mean_temperature_2m_max (Â°C)_quarter2          494 non-null    float64
 4   mean_temperature_2m_max (Â°C)_quarter3          494 non-null    float64
 5   mean_temperature_2m_max (Â°C)_quarter4          494 non-null    float64
 6   mean_temperature_2m_min (Â°C)_quarter1          494 non-null    float64
 7   mean_temperature_2m_min (Â°C)_quarter2          494 non-null    float64
 8   mean_temperature_2m_min (Â°C)_quarter3          494 non-null    float64
 9   mean_temperature_2m_min (Â°C)_quarter4          494 non-null    float64
 10  mean_temperature_2m_mean (Â°C)_quarter1         494 non-null    float64
 11  mean_temperature_2m_mean (Â°C)_quarter2         494 non-null    float64
 12  mean_temperature_2m_mean (Â°C)_quarter3         494 non-null    float64
 13  mean_temperature_2m_mean (Â°C)_quarter4         494 non-null    float64
 14  mean_rain_sum (mm)_quarter1                     494 non-null    float64
 15  mean_rain_sum (mm)_quarter2                     494 non-null    float64
 16  mean_rain_sum (mm)_quarter3                     494 non-null    float64
 17  mean_rain_sum (mm)_quarter4                     494 non-null    float64
 18  mean_wind_speed_10m_max (km/h)_quarter1         494 non-null    float64
 19  mean_wind_speed_10m_max (km/h)_quarter2         494 non-null    float64
 20  mean_wind_speed_10m_max (km/h)_quarter3         494 non-null    float64
 21  mean_wind_speed_10m_max (km/h)_quarter4         494 non-null    float64
 22  mean_relative_humidity_2m (%)_quarter1          494 non-null    float64
 23  mean_relative_humidity_2m (%)_quarter2          494 non-null    float64
 24  mean_relative_humidity_2m (%)_quarter3          494 non-null    float64
 25  mean_relative_humidity_2m (%)_quarter4          494 non-null    float64
 26  mean_soil_temperature_0_to_7cm (Â°C)_quarter1   494 non-null    float64
 27  mean_soil_temperature_0_to_7cm (Â°C)_quarter2   494 non-null    float64
 28  mean_soil_temperature_0_to_7cm (Â°C)_quarter3   494 non-null    float64
 29  mean_soil_temperature_0_to_7cm (Â°C)_quarter4   494 non-null    float64
 30  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1  494 non-null    float64
 31  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2  494 non-null    float64
 32  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3  494 non-null    float64
 33  mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4  494 non-null    float64
 34  district                                        494 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 138.9+ KB

In [28]:
soil_f_df.to_csv(os.path.join(data_path,"Cleaned Data/soil_final.csv"), index=False)
weather_df_f.to_csv(os.path.join(data_path,"Cleaned Data/weather_final.csv"), index=False)
state_df_f.to_csv(os.path.join(data_path,"Cleaned Data/state_final.csv"), index=False)

### More cleaning

In [29]:
data_path = os.path.join(os.pardir, 'data')

In [30]:
weather_path = os.path.join(data_path, "Cleaned Data/weather_final.csv")
state_path = os.path.join(data_path, "Cleaned Data/state_final.csv")
soil_path = os.path.join(data_path, "Cleaned Data/soil_final.csv")

In [31]:
weather_df = pd.read_csv(weather_path)
soil_df = pd.read_csv(soil_path)
state_df = pd.read_csv(state_path)

In [32]:
weather_df.head()

,MyUnknownColumn,year,mean_temperature_2m_max (Â°C)_quarter1,mean_temperature_2m_max (Â°C)_quarter2,mean_temperature_2m_max (Â°C)_quarter3,mean_temperature_2m_max (Â°C)_quarter4,mean_temperature_2m_min (Â°C)_quarter1,mean_temperature_2m_min (Â°C)_quarter2,mean_temperature_2m_min (Â°C)_quarter3,mean_temperature_2m_min (Â°C)_quarter4,...,mean_relative_humidity_2m (%)_quarter4,mean_soil_temperature_0_to_7cm (Â°C)_quarter1,mean_soil_temperature_0_to_7cm (Â°C)_quarter2,mean_soil_temperature_0_to_7cm (Â°C)_quarter3,mean_soil_temperature_0_to_7cm (Â°C)_quarter4,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4,district
0,26,1997,27.692222,35.532967,30.806522,26.753261,14.720000,24.739560,25.019565,17.669565,...,74.187047,22.796667,31.159936,28.240806,23.325996,0.164023,0.244372,0.406305,0.228455,bankura
1,27,1998,26.311111,35.886813,31.044565,27.726087,14.845556,26.016484,25.446739,18.366304,...,75.163949,21.731343,31.921154,28.591757,23.504212,0.203876,0.231366,0.385119,0.262968,bankura
2,28,1999,29.563333,35.451648,30.559783,27.706522,15.500000,25.739560,24.854348,17.365217,...,69.871830,24.405278,32.262683,28.069384,23.421467,0.128999,0.253662,0.401690,0.217343,bankura
3,29,2000,27.580220,35.308791,30.818478,27.865217,14.937363,25.737363,24.939130,16.744565,...,69.249547,22.872665,31.832875,28.257428,22.977899,0.165985,0.255802,0.378654,0.209894,bankura
4,30,2001,28.521111,33.765934,30.711957,27.615217,14.386667,24.603297,24.946739,17.841304,...,73.384964,23.378426,30.137408,28.083605,23.487908,0.133446,0.295354,0.393462,0.230607,bankura

In [33]:
weather_df.drop(columns=['MyUnknownColumn'],inplace=True)

In [34]:
state_df.tail()

,District,Year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare),Crop,State
12318,purulia,2015,Rabi,855.0,1241.0,1.451462,Wheat,West Bengal
12319,purulia,2016,Rabi,1366.0,2415.0,1.767936,Wheat,West Bengal
12320,purulia,2017,Rabi,1052.0,2145.0,2.038973,Wheat,West Bengal
12321,purulia,2018,Rabi,833.0,2114.0,2.537815,Wheat,West Bengal
12322,purulia,2019,Rabi,516.0,931.0,1.804264,Wheat,West Bengal

In [35]:
state_df.rename(columns={"District":'district', 'Year':'year'},inplace=True)

In [36]:
# weather_df.columns

In [37]:
state_df.Season = state_df.Season.apply(lambda x: x.strip())

In [38]:
state_df.Crop = state_df.Crop.apply(lambda x:  "Oilseeds" if x=="Oilseeds total" else x)

In [39]:
state_df.shape

(12323, 8)

In [40]:
merged_df = pd.merge(state_df, weather_df , on=['district', 'year'])

In [41]:
merged_df.shape

(12323, 40)

In [42]:
merged_df.Season.unique()

array(['Whole Year', 'Rabi', 'Kharif', 'Summer', 'Autumn', 'Winter'],
      dtype=object)

In [43]:
merged_df.Season = merged_df.Season.apply(lambda x:  "Winter" if x=="Rabi" else x)

In [44]:
merged_df.Season = merged_df.Season.apply(lambda x:  "Monsoon" if x=="Kharif" else x)

In [ ]:
# winter - Q4 - Q1
# monsoon - Q3 
# Whole Year: Q1 to Q4
# Summer: Q2 (April - June)
# Autumn: (1/3)Q3 + (2/3)Q4

In [293]:
merged_df.columns

Index(['district', 'year', 'Season', 'Area (Hectare)', 'Production (Tonnes)',
       'Yield (Tonnes/Hectare)', 'Crop', 'State',
       'mean_temperature_2m_max (Â°C)_quarter1',
       'mean_temperature_2m_max (Â°C)_quarter2',
       'mean_temperature_2m_max (Â°C)_quarter3',
       'mean_temperature_2m_max (Â°C)_quarter4',
       'mean_temperature_2m_min (Â°C)_quarter1',
       'mean_temperature_2m_min (Â°C)_quarter2',
       'mean_temperature_2m_min (Â°C)_quarter3',
       'mean_temperature_2m_min (Â°C)_quarter4',
       'mean_temperature_2m_mean (Â°C)_quarter1',
       'mean_temperature_2m_mean (Â°C)_quarter2',
       'mean_temperature_2m_mean (Â°C)_quarter3',
       'mean_temperature_2m_mean (Â°C)_quarter4',
       'mean_rain_sum (mm)_quarter1', 'mean_rain_sum (mm)_quarter2',
       'mean_rain_sum (mm)_quarter3', 'mean_rain_sum (mm)_quarter4',
       'mean_wind_speed_10m_max (km/h)_quarter1',
       'mean_wind_speed_10m_max (km/h)_quarter2',
       'mean_wind_speed_10m_max (km/h)_quarter3',
       'mean_wind_speed_10m_max (km/h)_quarter4',
       'mean_relative_humidity_2m (%)_quarter1',
       'mean_relative_humidity_2m (%)_quarter2',
       'mean_relative_humidity_2m (%)_quarter3',
       'mean_relative_humidity_2m (%)_quarter4',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter1',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter2',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter3',
       'mean_soil_temperature_0_to_7cm (Â°C)_quarter4',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter1',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter2',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3',
       'mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4'],
      dtype='object')

In [291]:
# d = {"mean_temperature_2m_max (Â°C)":[], "mean_temperature_2m_min (Â°C)":[],
#     "mean_temperature_2m_mean (Â°C)":[], "mean_rain_sum (mm)":[],
#     "mean_wind_speed_10m_max (km/h)":[], "mean_relative_humidity_2m (%)":[], 
#     "mean_soil_temperature_0_to_7cm (Â°C)":[], "mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)":[]}

In [295]:
quarter_columns = [col for col in merged_df.columns if 'quarter' in col]
# quarter_columns

In [ ]:
import pandas as pd

# Example dataframe setup
# Assume `df` is your dataset with columns as you described

# Identifying all columns that include quarterly data
quarter_columns = [col for col in merged_df.columns if 'quarter' in col]

# Applying transformations for each seasonal aggregation
s  = set(col.split('_quarter')[0] for col in quarter_columns):

In [46]:
import pandas as pd

# Define the function to calculate seasonal averages
def calculate_seasonal_value(row, column):
    # Extract quarterly columns for the given column
    q1 = row[f"{column}_quarter1"]
    q2 = row[f"{column}_quarter2"]
    q3 = row[f"{column}_quarter3"]
    q4 = row[f"{column}_quarter4"]
    
    # Apply seasonal calculations based on the 'Season' column
    if row['Season'] == 'Winter':
        return (q1 + q4) / 2
    elif row['Season'] == 'Monsoon':
        return q3
    elif row['Season'] == 'Whole Year':
        return (q1 + q2 + q3 + q4) / 4
    elif row['Season'] == 'Summer':
        return q2
    elif row['Season'] == 'Autumn':
        return (1/3 * q3) + (2/3 * q4)
    else:
        return None  # or np.nan if you prefer

# Apply transformation across relevant columns
def apply_seasonal_transformation(df):
    # Identify columns that contain "quarter" in their name and are eligible for seasonal averaging
    quarterly_columns = [col.split('_quarter')[0] for col in df.columns if '_quarter' in col]
    quarterly_columns = list(set(quarterly_columns))  # Unique base names

    # Iterate through each base column
    for col in quarterly_columns:
        # Create a new column with the seasonal values based on the "Season" column
        df[f'{col}_seasonal'] = df.apply(lambda row: calculate_seasonal_value(row, col), axis=1)
        
    return df

# Example usage:
# Assuming 'df' is your dataframe with the quarterly data and 'Season' column
df = apply_seasonal_transformation(merged_df)

# Display the first few rows to confirm transformations

In [47]:
df.head()

,district,year,Season,Area (Hectare),Production (Tonnes),Yield (Tonnes/Hectare),Crop,State,mean_temperature_2m_max (Â°C)_quarter1,mean_temperature_2m_max (Â°C)_quarter2,...,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter3,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_quarter4,mean_temperature_2m_mean (Â°C)_seasonal,mean_relative_humidity_2m (%)_seasonal,mean_temperature_2m_max (Â°C)_seasonal,mean_soil_temperature_0_to_7cm (Â°C)_seasonal,mean_temperature_2m_min (Â°C)_seasonal,mean_soil_moisture_0_to_7cm (mÂ³/mÂ³)_seasonal,mean_wind_speed_10m_max (km/h)_seasonal,mean_rain_sum (mm)_seasonal
0,24 paraganas north,1997,Whole Year,1345.0,1274.0,0.947212,Arecanut,West Bengal,28.011111,32.915385,...,0.41026,0.209229,25.332407,77.510488,29.934613,26.727149,21.621957,0.282786,12.339231,5.097360
1,24 paraganas north,1997,Whole Year,45.0,40.0,0.888889,Arhar/Tur,West Bengal,28.011111,32.915385,...,0.41026,0.209229,25.332407,77.510488,29.934613,26.727149,21.621957,0.282786,12.339231,5.097360
2,24 paraganas north,1997,Whole Year,2975.0,40162500.0,13500.000000,Coconut,West Bengal,28.011111,32.915385,...,0.41026,0.209229,25.332407,77.510488,29.934613,26.727149,21.621957,0.282786,12.339231,5.097360
3,24 paraganas north,1997,Whole Year,3916.0,7706.0,1.967824,Dry chillies,West Bengal,28.011111,32.915385,...,0.41026,0.209229,25.332407,77.510488,29.934613,26.727149,21.621957,0.282786,12.339231,5.097360
4,24 paraganas north,1997,Winter,267.0,160.0,0.599251,Gram,West Bengal,28.011111,32.915385,...,0.41026,0.209229,22.572476,71.047353,27.968056,24.248702,17.768949,0.203086,10.390048,0.955894

In [57]:
df[(df['district']=='purulia') & (df['Season']=='Winter')][['year','mean_relative_humidity_2m (%)_quarter1','mean_relative_humidity_2m (%)_quarter2','mean_relative_humidity_2m (%)_quarter3','mean_relative_humidity_2m (%)_quarter4','mean_relative_humidity_2m (%)_seasonal']]

,year,mean_relative_humidity_2m (%)_quarter1,mean_relative_humidity_2m (%)_quarter2,mean_relative_humidity_2m (%)_quarter3,mean_relative_humidity_2m (%)_quarter4,mean_relative_humidity_2m (%)_seasonal
5722,2003,62.320370,58.703755,87.007699,75.522645,68.921508
5724,2003,62.320370,58.703755,87.007699,75.522645,68.921508
5726,2003,62.320370,58.703755,87.007699,75.522645,68.921508
5728,2003,62.320370,58.703755,87.007699,75.522645,68.921508
5729,2003,62.320370,58.703755,87.007699,75.522645,68.921508
...,...,...,...,...,...,...
10238,2019,55.035185,59.445513,85.485054,79.068841,67.052013
10239,2019,55.035185,59.445513,85.485054,79.068841,67.052013
10241,2019,55.035185,59.445513,85.485054,79.068841,67.052013
10244,2019,55.035185,59.445513,85.485054,79.068841,67.052013
10252,2019,55.035185,59.445513,85.485054,79.068841,67.052013

In [58]:
(75.522645+62.320370)/2

68.92150749999999

In [100]:
soil_df.to_csv(os.path.join(data_path,"Cleaned Data/soil_final.csv"), index=False)
weather_df.to_csv(os.path.join(data_path,"Cleaned Data/weather_final.csv"), index=False)
state_df.to_csv(os.path.join(data_path,"Cleaned Data/state_final.csv"), index=False)